@page
@model IndexModel
@{
    ViewData["Title"] = "Main page";
}

<div class="text-center">
    <br>
    <h1 class="display-4">ASP.NET</h1><br>
    <h1 class="display-4">Toastr/NToastNotify Demo</h1><br>
    <h1 class="display-4">(MVVM)</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
